In [1]:
import pandas as pd

In [2]:
# from pandas.tseries.frequencies import to_offset

In [3]:
# import plotly.graph_objects as go

In [4]:
df = pd.read_csv('vnindex.csv')

In [5]:
df['<Date>'] = pd.to_datetime(df['<Date>'])

In [6]:
df['<Volume>'] = pd.to_numeric(df['<Volume>']).map('${:,}'.format).replace({'\$': ''}, regex=True)

In [7]:
df = df.set_index('<Date>')

In [8]:
# D, W, MS, AS: day, week, month, year
df_resampled = df.resample('AS').agg({'<Open>': 'first',
                                      '<High>': 'max',
                                      '<Low>': 'min',
                                      '<Close>': 'last',
                                      '<Volume>': 'sum'
                                      }).dropna()

In [9]:
# only week
# df_resampled.index = df_resampled.index + to_offset(pd.DateOffset(days=1))

In [10]:
df_resampled

              <Open>    <High>     <Low>   <Close>      <Volume>
<Date>
2000-01-01    100.00    206.83    100.00    206.83       3662790
2001-01-01    210.56    571.04    203.12    235.40      19721930
2002-01-01    231.70    231.70    174.62    183.33      33864229
2003-01-01    183.41    183.41    130.90    166.94      43570733
2004-01-01    167.69    280.53    167.69    239.29     218459433
2005-01-01    238.39    325.25    232.41    307.50     299188456
2006-01-01    306.86    809.86    304.23    751.77     927480948
2007-01-01    741.27    998.75  1,000.33    927.02    2269128044
2008-01-01    921.07    921.07    284.06    315.62    3137656351
2009-01-01    312.49    633.21    234.66    494.77   10596639614
2010-01-01    501.74    551.40    420.04    484.66   10663707287
2011-01-01    485.72    529.20    346.48    351.55    6599708707
2012-01-01    351.37    492.44    332.28    413.73   11663578558
2013-01-01    415.50    533.15    413.68    504.63   14844200610
2014-01-01    505.61    644.56    503.04    545.63   28389359708
2015-01-01    545.43    641.06    511.13    579.03   25402937519
2016-01-01    579.03    692.17    513.82    664.87   28395227108
2017-01-01    665.92    990.10    665.43    984.24   42483012823
2018-01-01    986.05    999.62  1,000.39    892.54   42111676300
2019-01-01    900.10    999.94  1,000.56    960.99   42208353154
2020-01-01    960.26    997.99  1,002.61  1,103.87   88599273601
2021-01-01  1,113.77  1,424.28  1,022.77  1,345.83  112448335246

In [11]:
# df_resampled.to_csv('vnindex_Y.csv')

In [12]:
# fig = go.Figure(data=[go.Candlestick(x=df_resampled['<Date>'],
#                 open=df_resampled['<Open>'],
#                 high=df_resampled['<High>'],
#                 low=df_resampled['<Low>'],
#                 close=df_resampled['<Close>'])])

In [13]:
# fig.show()