In [210]:
import pandas as pd

In [211]:
from pandas.tseries.frequencies import to_offset

In [212]:
df = pd.read_csv('ps5.csv')
# df = pd.read_csv('vnindex.csv')

In [213]:
df['t'] = pd.to_datetime(df['t'])
# df['<Date>'] = pd.to_datetime(df['<Date>'])

In [214]:
# df['<Volume>'] = pd.to_numeric(df['<Volume>'])

In [215]:
df = df.set_index('t')
# df = df.set_index('<Date>')

In [216]:
# H, T: hour, minute
df_resampled = df.resample('15T').agg({
                                                  'o': 'first', 
                                                  'h': 'max', 
                                                  'l': 'min', 
                                                  'c': 'last'
                                                 }).dropna()
# D, W, MS, AS: day, week, month, year
# df_resampled = df.resample('AS', label='left').agg({'<Open>': 'first', 
#                       '<High>': 'max', 
#                       '<Low>': 'min', 
#                       '<Close>': 'last',
#                       '<Volume>': 'sum'
#                      })

In [217]:
# only week
# df_resampled.index = df_resampled.index + to_offset(pd.DateOffset(days=1))

In [218]:
df_resampled

                           o        h        l        c
t
2018-11-16 09:00:00    869.0    870.0    869.0    870.0
2018-11-16 09:15:00    870.0    930.0    864.1    872.0
2018-11-16 09:30:00    870.3    870.3    869.9    870.0
2018-11-16 09:45:00    869.9    870.5    869.5    870.4
2018-11-16 10:00:00    869.8    870.0    869.5    870.0
...                      ...      ...      ...      ...
2021-09-01 13:45:00  1,424.2  1,427.4  1,424.2  1,426.9
2021-09-01 14:00:00  1,426.9  1,434.0  1,426.0  1,431.2
2021-09-01 14:15:00  1,431.2  1,434.0  1,426.0  1,427.5
2021-09-01 14:30:00  1,427.5  1,427.5  1,427.5  1,427.5
2021-09-01 14:45:00  1,428.6  1,428.6  1,428.6  1,428.6

[97944 rows x 4 columns]

In [219]:
df_resampled.to_csv('15m.csv')